@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root {
  --main-color:  linear-gradient(45deg,#6ac1c5,#bda5ff);
  --text-color: black;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.sidebar {
  position: fixed;
  width: 300px;
  background: var(--main-color);
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  transition: width 300ms;
}
.sidebar .brand span {
  padding-right: 1rem;
  display: inline-block;
}
.sidebar .brand {
  color: white;
  padding: 1rem 0 1rem 2rem;
}
.sidebar-menu {
  margin-top: 2rem;
}
.sidebar-menu li {
  width: 100%;
  padding-left: rem;
  margin-bottom: 1.7rem;
}
.sidebar-menu a {
  display: block;
  padding-left: 0.8rem;
  font-size: 1.3rem;
  color: var(--text-color);
  transition: all 0.3s ease-out;
}
.sidebar-menu a span {
  padding-left: 1rem;
}

.sidebar-menu a.active:hover {
  color: #2e0b10;
  background: white;
  border-radius: 30px 0 0 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main-content {
  margin-left: 300px;
}
header {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 300px;
  width: calc(100% - 300px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}
header h2 {
  color: #222;
  display: flex;
}
header label span {
  cursor: pointer;
  font-size: 2rem;
  padding-right: 1rem;
}
.user {
  display: flex;
  padding-right: 1rem;
  vertical-align: middle;
  cursor: pointer;

}
.user img {
  border-radius: 50%;
}
.user div h4 {
  color: var(--main-color);
}
.user div a {
  color: gray;
  font-size
:14px;
}
#nav-toggle:checked + .sidebar {
  width: 70px;
}
#nav-toggle:checked + .sidebar,
#nav-toggle:checked + .sidebar li {
  padding-right: 0rem;
  text-align: center;
}
#nav-toggle:checked + .sidebar .brand span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}
#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}
#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}

.main {
  margin-top: 40px;
  padding: 2rem 1.5rem;
  background: #f5f4f4;
  min-height: calc(100vh - 90px);
}
.container {
  user-select: none;

  background: rgb(236, 232, 232);
  color: #110404;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25);
}

.cover-photo {
  background: url(IIST\ CAMPUS\ 1.jpg);
  background-position: center;
  background-size: contain;
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

.profile {
  border-radius: 50%;
  margin: 93px 0 0 100px;
  padding: 7px;
  background: rgb(236, 232, 232);
}

.profile-name {
  font-size: 25px;
  font-weight: bold;
  margin: 60px 0 0 40px;
}

.skills {
  margin: 10px 0 0 20px;

}
.skills a{
    color: rgb(134, 129, 129);
  
}
.skills div{
    margin-top: 10px;
}
.buttons {
  margin-right: 1rem;
  margin-top: 10rem;
}
button {
  margin: 10px 0 40px 0;
}

.msg-btn {
  background: #03bfbc;
  border: 1px solid #03bfbc;
  padding: 10px 25px;
  color: #231e39;
  border-radius: 3px;
  cursor: pointer;
}

.follow-btn {
  border: 1px solid #03bfbc;
  padding: 10px 25px;
  color: #231e39;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  background: transparent;
}

.follow-btn:hover {
  background: #03bfbc;
  color: #231e39;
  transition: 0.5s;
}

.icons {
  margin-top: 1rem;
  margin-left: 3.5rem;
  display: flex;
}
.icons i {
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.icons i:hover {
  color: #03bfbc;
}



/* info section starts */
.section{

}
.main-heading{
    display: flex;
    margin-top: 40px;
    margin-left: 20rem;
}
.line {
    background: rgb(180, 156, 156);
    width: 20%;
    height: 2px;
    left: 50%;
    margin-top: 15px;
}
.line1{
    background: rgb(180, 156, 156);
    width: 20%;
    height: 2px;
    left: 20%;
    margin-top: 15px;
}
.main-heading .heading{
    text-align: center;
}
.details{
    margin-top: 2rem;
    margin-left: 10rem;
    display: grid;
    grid-template-columns: 50% 50%;
}
.details-box{
    display: flex;
    font-size: 15px;
    margin-bottom: 2rem;
}
.details-box div{
    margin-left: 10px;
    margin-top: 2px;
    font-size: 16px;
}
/* Responsive code */
@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }
  .sidebar .brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }
  .sidebar li a {
    padding-left: 0rem;
  }

  .sidebar .brand h1 span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }
  .main-content {
    margin-left: 76px;
  }

  .main-content header {
    width: calc(100% - 70px);
    left: 70px;
  }
}
@media only screen and (max-width: 960px) {
  .card {
    grid-template-columns: repeat(3, 1fr);
  }
  .recent-grid {
    grid-template-columns: 60% 40%;
  }
  .info{
    max-width: 960px;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
  .info{
    max-width: 750px;
  }
  .main-heading{
display: block;
  }
  .heading{
    text-align: left !important;
    margin-left: -100px !important;
  }
  .line,.line1{
    display: none;
  }
  .details{
    display: block;
    grid-template-columns: 100%;
  }
 .details-box{
   margin-bottom: 1rem;
 }

}
@media only screen and (max-width: 560px) {
  .cover-photo{
    background-position: inherit;
    background-size: cover;
  }
  .info{
    max-width:500px
  }
  .details{
    margin-left:20px;
  }
  .heading{
    margin-left: -220px !important;
  }
  .card {
    grid-template-columns: 100%;
  }
  .sidebar {
    left: -100% !important;
  }
  .follow-btn{
  padding: 5px 12px;
  font-size: 12px;
  }
  header h2 {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }
  header h2 label {
    display: inline-block;

    background: var(--main-color);
    padding: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  header h2 span {
    text-align: center;
    padding-right: 0rem;
  }
  .main-content {
    width: 100%;
    margin-left: 0rem;
  }
  header {
    width: 100% !important;
    left: 0 !important;
  }
  #nav-toggle:checked + .sidebar {
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }
  #nav-toggle:checked + .sidebar {
    width: 345px;
    /* z-index: 200; */
  }
  #nav-toggle:checked + .sidebar .brand,
  #nav-toggle:checked + .sidebar li {
    padding-left: 2rem;
    text-align: left;
  }
  #nav-toggle:checked + .sidebar li a {
    padding-left: 1rem;
  }

  #nav-toggle:checked + .sidebar .brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child {
    display: inline;
  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 0rem !important;
  }
}


