body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #5DD4CC,
 #2F6396);
}

.logo-image{
  position: fixed;
  top: 20px;
}

.logo-image:hover{
  position: fixed;
  top: 20px;
  background: rgba(255, 255, 255, 0.4);
}

.home-icon{
  position: fixed;
  right: 80px;
  top: 25px;
  width: 40px;
}

.home-icon:hover{
  position: fixed;
  right: 78px;
  top: 22px;
  width: 45px;
}

.Register-content{
    display: block;
    width: 500px;
    padding: 45px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255,255,255, 0.18);

}
.Register-content{
    position: absolute;
    top: 30px;
    left: 25%;
}

.form-head{
    text-align: center;
    color: #1C658C ;
    text-transform: uppercase;
    padding-bottom: 15px;
}

form{
    margin: 20px;
}

label{
    display: block;
    color: #203239 ;
    font-size: 18px;
    margin-top: 15px;
}

.capital{
      display: block;
      width: 90%;
      background: transparent;
      text-transform: capitalize;
      border: none;
      outline: none;
      border-bottom: 1px solid white;
      padding: 15px;
      color: #203239 ;
}

input{
    display: block;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 15px;
    color: #203239 ;
}

input:hover{
    display: block;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #F7F7F7;
    padding: 15px;
    color: #041C32;
}

.eye-icon{
  position: absolute;
  cursor: pointer;
  top: 500px;
  right: 120px;
  width: 25px;
}

.slash-eye-icon{
  z-index: -3;
  display: none;
  position: absolute;
  cursor: pointer;
  top: 500px;
  right: 120px;
  width: 25px;
}

.select{
  color: #041C32;
  cursor: pointer;
  display: block;
  width: 98%;
  margin: 25px 0 30px 1px;
  border: none;
  outline: none;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
}

.submit-button{
    display: block;
    width: 90%;
    padding: 8px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #2F6396 ,
    #5DD4CC);
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: 40px 5px 5px 10px;
}

.submit-button:hover{
  display: block;
  width: 90%;
  padding: 8px;
  border: none;
  outline: none;
  background: linear-gradient(to right,#5DD4CC ,
  #2F6396);
  color: #FFEFEF;
  font-size: 20px;
  cursor: pointer;
  margin: 40px 5px 5px 10px;
}

.link a{
    text-decoration: none;
    color: #000000;

}

.link{
    margin-top: 30px;
    text-align: center;
    color:white;
}

.link a:hover{
    text-decoration: underline;
}
